[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pyyaml = "*"
python-dateutil = "*"
pandas = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
soccerdata = "*"
schedule = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.10"
